<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>

<a th:href="@{/main/search}">Search for User</a>

    <p th:text="Hello +' '+${currentUser.username}">

    <form th:action="@{/main}" th:object="${newPost}" method="post">
        <label><input type="text" th:field="*{text}" placeholder="Write what you think..."/></label>
        <input type="submit" value="Post!"/>
    </form>

    <div th:each="post : ${posts}" class="post">
        <a th:text="${post.userCreator.username}" th:href="@{'/user/' + ${post.userCreator.id}}"></a>
        <h4 th:text="${#dates.format(post.creationDate, 'dd MMMM yyyy HH:mm')}"></h4>
        <p th:text="${post.text}"></p>
        <form th:unless="${currentUser.postsLikedByUser.contains(post)}" th:action="@{'/like/' + ${post.id}}" method="post">
            <input type="submit" value="Like the post!"/>
        </form>
        <p th:if="${currentUser.postsLikedByUser.contains(post)}">You like this post</p>
        <form th:if="${currentUser.postsLikedByUser.contains(post)}" th:action="@{'/unlike/' + ${post.id}}" method="post">
            <input type="submit" value="Unlike"/>
        </form>
        <div th:each="comment : ${post.comments}">
            <a th:text="${comment.creatorUser.username}" th:href="@{'/user/' + ${comment.creatorUser.id}}"></a>
            <h6 th:text="${#dates.format(comment.creationDate, 'dd MMMM yyyy HH:mm')}"></h6>
            <p th:text="${comment.text}"></p>
            <form th:if="${currentUser.commentsLikedByUser.contains(comment)}" th:action="@{'/likeAComment/' + ${comment.id}}" method="post">
                <input type="submit" value="Like the comment!"/>
            </form>
            <>
        </div>
        <form th:action="@{'/mai/' + ${post.id}}" th:object="${newComment}" method="post">
            <input type="text" th:field="*{text}" placeholder="Comment"/>
            <input type="submit" value="Comment!">
        </form>
    </div>
</body>
</html>