<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>

<a th:href="@{/main/search}">Search for User</a>

    <p th:text="Hello +' '+${currentUser.getUsername()}">

    <form th:action="@{/main}" th:object="${newPost}" method="post">
        <label><input type="text" th:field="*{text}" placeholder="Write what you think..."/></label>
        <input type="submit" value="Post!"/>
    </form>

    <div th:each="post : ${posts}">
        <h3 th:text="${post.userCreator.username}"></h3>
        <h4 th:text="${post.creationDate}"></h4>
        <p th:text="${post.text}"></p>
        <div th:each="comment : ${post.comments}">
            <h5 th:text="${comment.creatorUser.username}"></h5>
            <h6 th:text="${comment.creationDate}"></h6>
            <p th:text="${comment.text}"></p>
        </div>
        <form th:action="@{'/mai/' + ${post.id}}" th:object="${newComment}" method="post">
            <input type="text" th:field="*{text}" placeholder="Comment"/>
            <input type="submit" value="Comment!">
        </form>
    </div>
</body>
</html>