<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
<p th:text="|Hello ${current.getUsername()}|"></p>

<p th:unless="${current.id.equals(chosenUser.id)}" th:text="|This is ${chosenUser.getUsername()} profile|"></p>


<p th:if="${current.id.equals(chosenUser.id)}">
    This is your profile
</p>

<p th:if="${current.wantedByUser.contains(chosenUser)}">
    Invitation already sent
</p>

<form th:if="${current.userIsWanted.contains(chosenUser)}" th:action="@{'/user/userAccept/' + ${chosenUser.id}}" method="post">
    <input type="submit" value="Accept">
</form>

<form th:if="${current.userIsWanted.contains(chosenUser)}" th:action="@{'/user/userDecline/' + ${chosenUser.id}}" method="post">
    <input type="submit" value="Decline">
</form>

<form th:unless="${current.id.equals(chosenUser.id)} or ${current.wantedByUser.contains(chosenUser)} or ${current.userIsWanted.contains(chosenUser)}" method="post" th:action="@{'/user/' + ${chosenUser.id}}">
    <input type="submit" value="Add to friends"/>
</form>

    <div th:each="post : ${chosenPosts}">
        <h4 th:text="${#dates.format(post.creationDate, 'dd MMMM yyyy HH:mm')}"></h4>
        <p th:text="${post.text}"></p>
    </div>
</body>
</html>